<!DOCTYPE html>
<html>
<head>
  <title></title>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/plugins.css">

</head>
<body>
  <div class="site-wrapper">
  <header class="header headr-style-2">
    <div class="container">
      <div class="row"> 
        <!-- Menu -->

<div class="navbar yamm navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              <a href="#" class="navbar-brand logo"></a> </div>
            <div class="cart pull-right" style="float:right;" >
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="icon-basket"></span><span class="cart-info">2</span> </button></div>>
              <div class="dropdown-menu">
                <div class="wrapp-mini-cart">
                  <div class="mini-cart">
                    <h3 class="font-color font20">My Cart</h3>
                    <div class="cart-item">
                      <div class="cart-img"><img class="img-responsive" alt="" src="/static/images/four.jpg"></div>
                      <div class="cart-content">
                        <h4 class="item-name m-bottom1"><a href="#">Special Hot and Sour Soup</a></h4>
                        <p class="font16 font-color">$8.95</p>
                      </div>
                    </div>
                  </div>
                </div>


</body>
</html>

